<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-COMMERCE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Language
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ENG</a></li>
                  <li><a class="dropdown-item" href="#">HIN</a></li>
                </ul>
              </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About Us</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'buyer'" >
            <a class="nav-link " routerLink="/buyer-dashboard">Order</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link " routerLink="/all-order">All Order</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'seller'">
            <a class="nav-link " routerLink="/seller-product">Product</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link " routerLink="/admin/product">All Product</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link " routerLink="/admin/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto" *ngIf="!logged_in">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-up">Sign Up</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="logged_in">
            <li class="nav-item">
                <a class="nav-link sim-pointer" routerLink="/my-profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sim-pointer" (click)="logout()">Log Out</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>