<br>
<div class="row">
    <div class="col-md-10">
        <strong>All User List</strong>
    </div>
    <div class="col-md-2">
        <button class="btn btn-dark float-right" type="button" (click)="addUserPopup()" data-bs-toggle="modal"
            data-bs-target="#addEditUserModal">Add New User</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">City</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (user_data of all_user_data; track $index) {
        <tr >
            <th scope="row">{{$index+1}}</th>
            <td>{{user_data.name}}</td>
            <td>{{user_data.mobNumber}}</td>
            <td>{{user_data.email}}</td>
            <td>{{user_data.dob}}</td>
            <td>{{user_data.city}}</td>
            <td>{{user_data.role}}</td>
            <td>
                <span class="sim-pointer" (click)="editUserPopup(user_data.id)" data-bs-toggle="modal"
                    data-bs-target="#addEditUserModal">Edit</span> &nbsp; &nbsp;
                <span class="sim-pointer" (click)="deleteUser(user_data.id)" data-bs-toggle="modal"
                    data-bs-target="#addEditUserModal">Delete</span>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- modal for add user & edit user -->

<div class="modal fade" id="addEditUserModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{popup_header}}</h5>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form [formGroup]="addEditUserForm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile Number</label>
                                <input type="tel" class="form-control" formControlName="mobNumber">
                            </div>
                            <div class="form-group">
                                <label for="age">Enter Your Age</label>
                                <input type="number" class="form-control" formControlName="age">
                            </div>
                            <div class="form-group">
                                <label for="dob">Enter Your DOB</label>
                                <input type="date" class="form-control" formControlName="dob">
                            </div>
                            <!-- New Row -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" placeholder="arpan@gmail.com" formControlName="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" placeholder="12, $ street" formControlName="addLine1">
                                </div>
                                <div class="form-group">
                                    <label for="address2">Adress 2</label>
                                    <input type="text" class="form-control" placeholder="appartment, floor" formControlName="addLine2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" placeholder="City" formControlName="city">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="state">State</label>
                                    <select name="" id="inputState" class="form-control" formControlName="state">
                                        <option selected>Choose...</option>
                                        <option >UP</option>
                                        <option >HP</option>
                                        <option >MP</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="zip">Zip Code</label>
                                    <input type="text" class="form-control" placeholder="Zipcode" formControlName="zipCode">
                                </div>
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select multiple class="form-control" formControlName="language">
                                        <option>Hindi</option>
                                        <option>English</option>
                                        <option>Telgu</option>
                                        <option>Odiya</option>
                                        <option>Bhojpuri</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="male">
                                        <label for="male" class="form-check-inline">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="female">
                                        <label for="female" class="form-check-inline">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="others">
                                        <label for="others" class="form-check-inline">Others</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="somethingAboutYou">Something About You</label>
                                    <textarea class="form-control" rows="3" formControlName="aboutYou"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="uploadPhoto">Upload Your Photo</label>
                                    <span *ngIf="edit_user"><span>Upload Image</span><br>{{ upload_file_name}}</span><a href="">Preview</a>
                                    <input type="file" class="form-control" formControlName="uploadPhoto">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                                    <label for="agreetc" class="form-check-inline">Terms & COndition</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role">What Do You Want</label>
                                <select name="" class="form-control" formControlName="role">
                                    <option value="admin">Admin</option>
                                    <option value="seller">Seller</option>
                                    <option value="buyer">Buyer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewUser()" *ngIf="add_user" >Register</button>
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()" *ngIf="edit_user" >Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>