<footer class="container">
    <p class="float-right"><strong>E-Commerce</strong></p>
    <p>&reg; 2024 - &copy;
        <a href="http://" target="_blank" rel="noopener noreferrer">E-Com</a>
    </p>
</footer>