<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" *ngIf="regForm">
                <h3>Registration - Angular 17 Reactive Forms with Validation</h3>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" >
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="tel" class="form-control" formControlName="mobNumber">
                    </div>
                    <div class="form-group">
                        <label for="age">Enter Your Age</label>
                        <input type="number" class="form-control" formControlName="age">
                    </div>
                    <div class="form-group">
                        <label for="dob">Enter Your DOB</label>
                        <input type="date" class="form-control" formControlName="dob">
                    </div>
                    <!-- New Row -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" placeholder="arpan@gmail.com" formControlName="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" placeholder="12, $ street" formControlName="addLine1">
                        </div>
                        <div class="form-group">
                            <label for="address2">Adress 2</label>
                            <input type="text" class="form-control" placeholder="appartment, floor" formControlName="addLine2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" placeholder="City" formControlName="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">State</label>
                            <select name="" id="inputState" class="form-control" formControlName="state">
                                <option selected>Choose...</option>
                                <option >...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" placeholder="Zipcode" formControlName="zipCode">
                        </div>
                        <div class="form-group">
                            <label for="language">Language</label>
                            <select multiple class="form-control" formControlName="language">
                                <option>Hindi</option>
                                <option>English</option>
                                <option>Telgu</option>
                                <option>Odiya</option>
                                <option>Bhojpuri</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-inline" formControlName="gender" value="male">
                                <label for="male" class="form-check-inline">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-inline" formControlName="gender" value="female">
                                <label for="female" class="form-check-inline">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-inline" formControlName="gender" value="others">
                                <label for="others" class="form-check-inline">Others</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="somethingAboutYou">Something About You</label>
                            <textarea class="form-control" rows="3" formControlName="aboutYou"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="uploadPhoto">Upload Your Photo</label>
                            <input type="file" class="form-control" formControlName="uploadPhoto">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                            <label for="agreetc" class="form-check-inline">Terms & COndition</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role">What Do You Want</label>
                        <select name="" class="form-control" formControlName="role">
                            <option value="seller">Seller</option>
                            <option value="buyer">Buyer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
                <!-- Login Form here -->
                <p class="sim-pointer" routerLink="/sign-in">Already have an account click here to login</p>
            </div>
            <div class="col-md-6 offset-md-3" *ngIf="!regForm">
                <h3>Login - Angular 17 Template Driven for with validation</h3>
                <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="userEmail" [(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel" required email>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="userPassword" [(ngModel)]="signInFormValue.userPassword" #userPassword="ngModel" minlength="6" togglePassword>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
                <!-- Signup Form here -->
                <p class="sim-pointer" routerLink="/sign-up">Don't have an account Click here to register</p>
            </div>
        </div>
    </div>
</div>