<br>
<div class="jumbotron p-3 p-md-2 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <h3 class="display-4 font-italic text-center">welcome to Admin Dashboard</h3>
        <p class="lead my-3 text-center">Admin can manage user and product details</p>
    </div>
</div>
<!-- user details and product details -->
<div class="row mb-2">
    <div class="col-md-6" (click)="userDashboard()">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Users</strong>
                <h3 class="mb-0">Manage User</h3>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': admin_user}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Admin: {{admin_user}}
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': seller_user}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Seller User: {{seller_user}}
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': buyer_user}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Buyer User: {{buyer_user}}
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" heigth="220" xmls="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder:Thumbnail">
                        <title>Manage Users</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="30%" y="50%" fill="eceeef"
                            dy=".3em">Total Users:
                            {{total_user}}
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Dashboard data -->
    <div class="col-md-6" (click)="productDashboard()">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Products</strong>
                <h3 class="mb-0">Manage Products</h3>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': publish_product}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Publish Products: {{publish_product}}
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': inactive_product}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Inactive Product: {{inactive_product}}
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': draft_product}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            Draft Product: {{draft_product}}
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" heigth="220" xmls="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder:Thumbnail">
                        <title>Manage Products</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="30%" y="50%" fill="eceeef"
                            dy=".3em">Total Products:
                            {{total_product}}
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>